#indexPage {
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, .8);

    .block-centered {
        height: 100%;
        display: flex; 
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title-page {
        color: #b4d455;
        font-size: 70px;
        font-family: $font-family-bold;
        margin-bottom: 30px;
    }

    ul {
        display: flex;

        li {
            padding: 15px 20px;
        }

        a {
            position: relative;
            display: block;
            color: $white;
            font-family: $font-family-base;
            font-size: 24px;
            text-decoration: none;

            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                right: 0;
                width: 0;
                height: 1px; 
                background-color: #b4d455;
                transition: all .2s ease-in-out;
            }

            &:hover {

                &:before {
                    width: 100%;
                }

            }
        }
    }
}